<ion-header [translucent]="true">
  <ion-toolbar color="primary" align = "center">
    <ion-title>2020 National Sport Festival</ion-title>
    <ion-button slot="end" (click)="eventPage()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size: medium"> Event Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h2>Event: {{eventName}} </h2>
        <h3 style="overflow-wrap: break-word !important;">Venue: {{eventVenue}}</h3>
        <p style="overflow-wrap: break-word !important;">Date: {{eventDays}}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <div #map id="map"></div>

</ion-content>



<ion-footer class="ion-no-border">
  <ion-toolbar align="center" color="dark">
    <ion-title style="font-size: small;">Developed By Edo ICTA</ion-title>
  </ion-toolbar>
</ion-footer>

