<ion-header [translucent]="true">
  <ion-toolbar color="primary" align = "center">
    <ion-title>2020 National Sport Festival</ion-title>
    <ion-button slot="end" (click)="homePage()">Home</ion-button>
  </ion-toolbar>
</ion-header>
 

<ion-content>
 <div align="center" class="animated zoomIn">
     <h3 style="font-weight: lighter">Events Schedule</h3>
     <p style="color: #acaeb5; font-size: small; margin-top: 0%">Click on an Event to view more details</p>
     <hr style="background-color: #808289 !important;"> </div>

  <ion-list>
    <ion-item *ngFor="let event of eventData" (click)="getEventDetails(event)">
     <ion-card style="width: 100% !important;">
       <ion-card-content>
           <h2 style="color: #000000"><b>Event:</b> {{event.name}} </h2>
           <h3 style="overflow-wrap: break-word !important;"><b>Venue:</b> {{event.venue}}</h3>
           <p style="overflow-wrap: break-word !important; color: #3880ff !important;"><b>Date:</b> {{event.event_days}}</p>

       </ion-card-content>
     </ion-card>

    </ion-item>
  </ion-list>

</ion-content>



<ion-footer class="ion-no-border">
    <ion-toolbar align="center" color="dark">
        <ion-title style="font-size: small;">Developed By Edo ICT Agency &copy;2020</ion-title>
    </ion-toolbar>
</ion-footer>