<ion-header [translucent]="true">
  <ion-toolbar color="success" align = "center">
    <ion-title>2020 National Sport Festival</ion-title>
    <ion-button color="success" slot="end" (click)="hotelPage()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title align="center"> {{ hotelName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h2 style="color: #3880ff"> Contact Person: {{hotelContact}} </h2>
        <h2 style="color: #26941b"><ion-icon name="call-sharp"></ion-icon> {{hotelPhone}} </h2>
        <h2 style="overflow-wrap: break-word !important;"><ion-icon name="location-sharp"></ion-icon> {{hotelAddress}} </h2>
        <h3 style="color: #000000">Number of Rooms: {{hotelNumOfRooms}}</h3>
        <!--<h3 style="overflow-wrap: break-word !important;">Discount %: {{hotelDiscountpct}}</h3>-->
        <h3>Discounted Rate: {{hotelDiscountRate}} @ {{hotelDiscountpct}}</h3>
        <p style="overflow-wrap: break-word !important;">Discount Code: {{hotelCode}}</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <div #map id="map"></div>

</ion-content>



<ion-footer class="ion-no-border">
  <ion-toolbar align="center" color="dark">
    <ion-title style="font-size: small;">Developed By Edo ICT Agency &copy;2020</ion-title>
  </ion-toolbar>
</ion-footer>
